body {
  margin: 0;
  padding: 0;
}

body:before {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  // background-image: url("../images/concierto1.jpg");
  background-image: linear-gradient(#01B, #fff);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  z-index: -1;
}

.form {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 440px;
  height: 550px;
  padding: 10px 60px;
  background: #a5e4e86c;
  margin-bottom: 30px;
  z-index: -1;
  border-radius: 30px;

  h2 {
    margin: 0;
    padding: 25px 0 45px 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
  }

  input {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 15px;
  }

  a {
    color: #fff;
    font-size: 16px;
    background: #33b113;
    border-radius: 25px;
    border: none;
    outline: none;
    text-decoration: none;
    padding: 6px 200px;

    &:hover {
      background-color: #2d9713;
      color: #fff;
    }

  }

  .btn {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    outline: none;
    color: #fff;
    font-size: 15px;
    background: #57ceec;
    border-radius: 25px;
    border: none;
    margin-top: 10%;
    cursor: pointer;

    &:hover {
      background-color: #4cb4ce;
      color: #fff;
    }
  }
}
